/*Navigation Bar*/
.nav li{
  display: inline-block;
  float: right;
  padding: 25px;
  font-size: 25px;
  margin-top: 0px;
}

.nav li a:hover{
  background: turquoise;
  color: black;

}
/*Contact*/
.socialmedia li a:hover{
  background: turquoise;
  color: black;
}

.socialmedia{
  list-style: none;
}

/* Home*/
.essy{
  text-align: center;
  }

  .home img{
    margin-left: 500px;
    margin-top: 150px;
  }
  
  .home{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    font-family: fantasy;
  }

  /*Projects*/
  #Projects li a:hover{
  background: turquoise;
  color: black;

}
/*about*/
#about{
  font-size: 25px;
}

/*Body*/
body{
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color:palevioletred;
  font-size: 25px;
  font-style: italic;
  border: pink dotted;
}


/*Head*/
head{
  font-size: larger;
}

